<form method="POST" action="/articles">
  <p>Title: <input type="text" id="title" name="title">
  <p>Content: <input type="text" id="content" name="content">
  <input type="submit" id="submit">
</form>
